<div class="jumbotron">
   <div class="container">
      <h1 class="display-3">Welcome to Crudjs{{#if user}}, {{user.name}}{{/if}} !</h1>
      <p><a class="btn btn-primary btn-lg" href="/add" role="button">Add news &raquo;</a></p>
   </div>
</div>
<div class="container">
   {{#if success_msg}}
    <div class="alert alert-success">{{success_msg}}</div>
    {{/if}}

    {{#if error_msg}}
    <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}

    {{#if error}}
    <div class="alert alert-danger">{{error}}</div>
    {{/if}}
   <div class="row">
      {{#each news}}
      <div class="col-md-4">
         <h2>{{substr "10" name}}</h2>
         <p>{{substr "15" content}}</p>
         <p><a class="btn btn-secondary" href="/view/{{id}}" role="button">View details &raquo;</a></p>
      </div>
      {{/each}}
   </div>
</div>